<main class="home">
  <section>
    <span class="hi">Hi</span>
    <div class="deconame">
      <img src="/assets/media/deco1.svg" alt="highlight" id="deco1">
      <h1 class="name">I’m <strong>Nehémia</strong></h1>
    </div>
    <p class="slogan">a <span class="adj">creative</span> web developper</p>
  </section>
  <section>
      <h2>Who am I ?</strong></h1>
      <p class="bio">I am a young student from french Guiana. Passionate by the creation of creative web site.</p>
      <a href="#" class="cv">My resume</a>
  </section>
</main>
