.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  min-height: 100vh;
}
body{
  background-color: #000;
  min-height: 100vh;
}

.container{
  width: 100%;
}
.left, .center, .right{
  background-color: #FFF;
  height: 100%;
}
