.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  min-height: 100vh;
}
body{
  background-color: #000;
  min-height: 100vh;
  font-family: $font;
}
footer, header{
  position: sticky;
  width: 100%;
  height: 6.33vh;
  background-color: #000;
}
header{
  top: 0;
  left: 0;
}
footer{
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  bottom: 0;
  left: 0;
}
.container{
  width: 100%;
  min-height: calc(100vh - (6.33vh * 2));
}
.left, .center, .right{
  background-color: #FFF;
  min-height: 100%;
}
